<div id="logo" class="fl_left"> 
    <!-- ################################################################################################ -->
    <h1 class="logoname">Qawaid<span>4</span>Dyslexia</h1>
    <!-- ################################################################################################ -->
  </div>
  <nav id="mainav" class="fl_right"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li><a href="../index.html">Home</a></li>
      <li class="active"><a class="drop" href="#">Fonts</a>
        <ul>
          <li><a href="gallery.html">Nastalaiq</a></li>
          <li><a href="full-width.html">Arabic</a></li>
          <li><a href="font-icons.html">Font Icons</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Languages</a>
        <ul>
          <li><a href="#">Urdu</a></li>
          <li><a class="drop" href="#">English</a>
            <ul>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="{{ url_for('login') }}">Log In</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>



<body>
    
    <li><a href="{{ url_for('test1') }}">Test1</a></li>
    <li><a href="{{ url_for('test2') }}">Test2</a></li>
    <li><a href="{{ url_for('test3') }}">Test3</a></li>
    <li><a href="{{ url_for('test4') }}">Test4</a></li>
    <li><a href="{{ url_for('test5') }}">Test5</a></li>
    <li><a href="{{ url_for('test6') }}">Test6</a></li>
    <li><a href="{{ url_for('test7') }}">Test7</a></li>
    <li><a href="{{ url_for('test8') }}">Test8</a></li>
    <li><a href="{{ url_for('test9') }}">Test9</a></li>
    <li><a href="{{ url_for('test10') }}">Test10</a></li>
</body>