<body>

<img src="{{url_for('static', filename='imgs/' + img0 )}}" alt="Punctuation Check" style="margin:80px; height:100px; width:140px;"></div>
    <p>Please select your gender:</p>
    <input type="radio" id="male" name="question1" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="question1" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="question1" value="other">
    <label for="other">Other</label>


<img src="{{url_for('static', filename='imgs/' + img1 )}}" alt="Punctuation Check" style="margin:80px; height:100px; width:140px;"></div>
    <p>Please select your gender:</p>
    <input type="radio" id="male" name="question1" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="question1" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="question1" value="other">
    <label for="other">Other</label>

<img src="{{url_for('static', filename='imgs/' + img2 )}}" alt="Punctuation Check" style="margin:80px; height:100px; width:140px;"></div>
    <p>Please select your gender:</p>
    <input type="radio" id="male" name="question1" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="question1" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="question1" value="other">
    <label for="other">Other</label>

<img src="{{url_for('static', filename='imgs/' + img3 )}}" alt="Punctuation Check" style="margin:80px; height:100px; width:140px;"></div>
    <p>Please select your gender:</p>
    <input type="radio" id="male" name="question1" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="question1" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="question1" value="other">
    <label for="other">Other</label>

<img src="{{url_for('static', filename='imgs/' + img4 )}}" alt="Punctuation Check" style="margin:80px; height:100px; width:140px;"></div>
    <p>Please select your gender:</p>
    <input type="radio" id="male" name="question1" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="question1" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="question1" value="other">
    <label for="other">Other</label>   
    
    
<script src="{{url_for('static', filename='layout/scripts/jquery-1.7.1.min.js')}}"></script>

<body>



    
    